body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents scrollbars */


    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #03ff25;
    position: absolute;
    pointer-events: none; /* So it doesn't block clicks */
    transition: transform 0.1s ease;
}



/* body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body:hover{
    background-color: greenyellow;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 0px;
    border-radius: 5px;
} */

.box {
    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10%;
            height: 10vh;
            border: 2px solid black;

            background-color: white;
    /* position: relative;
    width: 100%;
    height: 800px;
    background: #3498db;
    /* clip-path: polygon(0 25%, 25% 15%, 50% 30%, 75% 10%, 100% 25%, 100% 100%, 0 100%); */
    /* clip-path: polygon(0 30%, 50% 10%, 100% 30%, 100% 100%, 0 100%); */
    /* clip-path: ellipse(50% 40% at 50% 30%); */
    
}

/* .circle {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;  /* Start circle in the middle */
    left: 50%;  /* Start circle in the middle */
    transform: translate(-50%, -50%);  /* Center the circle properly */
    animation: move-circle 2s infinite linear;
}

@keyframes move-circle {
    0% {
        top: 50%;
        left: 50%;
    }
    25% {
        top: 10%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 90%;
    }
    75% {
        top: 90%;
        left: 50%;
    }
    100% {
        top: 50%;
        left: 10%;
    }
} */